body {
	background: #000;
	margin: 0;
	text-align: center;
}

.game-board-window {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 800px;
	max-height: 600px;
	margin: auto auto;
	overflow: hidden;
	color: #000;
}

.controls {
    color: #FFF;
    position: absolute;
    z-index: 1
}

.game-board-2d, .game-board-3d {
	position: relative;
	width: 100%;
	height: 100%;
}

@keyframes fadein {
	0% {
		opacity: 0;
		margin-top: 40px;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
		margin-top: 0px;
	}

	100% {
		opacity: 0;
	}
}

/* 2D ENGINE STYLES */

.game-board-2d-map {
	position: absolute;
}

.game-board-2d-tile {
	width: 100px;
	height: 100px;
	float: left
}

.game-board-2d-row-break {
	visibility: hidden;
	height: 0;
	line-height: 0;
	overflow: hidden;
	clear: both;
}

.game-board-2d-player {
	position: absolute;
	top: 100px;
	left: 100px;
	font-size: 45px;
	width: 100px;
	text-align: center;
	height: 100px;
	line-height: 100px
}

.game-board-2d-player-action {
	color: #fff;
	font-size: 21px;
	text-align: center;
	animation: fadein 1s;
	opacity: 0;
	text-shadow: 3px 3px 2px rgba(0,0,0,0.8), -3px 3px 2px rgba(0,0,0,0.8), 3px -3px 2px rgba(0,0,0,0.8), -3px -3px 2px rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	line-height: normal;
}

/* 3D ENGINE STYLES */

.game-board-3d-player-action {
	position: absolute;
	top: 50%;
	width: 100%;
	color: #fff;
	font-size: 21px;
	text-align: center;
	animation: fadein 1s;
	opacity: 0;
	text-shadow: 3px 3px 2px rgba(0,0,0,0.8), -3px 3px 2px rgba(0,0,0,0.8), 3px -3px 2px rgba(0,0,0,0.8), -3px -3px 2px rgba(0,0,0,0.8);
	line-height: normal;
}
