/* Hide gitter button until the page is loaded */
body .gitter-open-chat-button {
	bottom: -50px;
	right: 25px;
	z-index: 80;
	transition: bottom 120ms ease-out;
}
.loaded .gitter-open-chat-button {
	bottom: 0;
}
