body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	padding:10vw;
	text-align:center;
}

div {
	word-wrap: normal;
	text-align: left;
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
}
