body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
}


main {

	/* For browsers that don't know <main> element (e.g. IE11)
	   This renders it as a block element so it doesn't screw up styling */
	display: block;

	width: 80vw;
	max-width: 1100px;

	margin: auto;
	padding: 0 10px;

	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}


h1 {
	padding: 5vw;
	padding-bottom: 10vw;
	text-align: center;
}


/* Contributor elements */
#contributors-container {
	width: 80%;
	max-width: 1000px;

	margin: auto;
	padding: 10px;

	text-align: center;
}

#contributors {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

	font-size: 0.8em;
	color: #999;
}

#contributors.error {
	font-style: italic;
}

#contributors > a {
	display: inline-block;
	margin: 2px 0;
}

#contributors img {
	height: 42px;
	width: 42px;
	margin-right: 10px;

	border-radius: 50%;
}





/* Min-width break to add more padding on wider screens */
@media all and (min-width: 720px) {
	h1 {
		padding: 10vw;
	}

	main {
		padding: 15px;
	}
}
