/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Patua+One');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Use border-box sizing instead of the default (content-box)
   This makes it so the width of an element includes its padding, instead of adding the padding on top of the element.
   More information on box-sizing here: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
* {
	box-sizing: border-box;
}

/* Basic html elements styling */
body {
	margin: 0;
	padding-bottom: 60px;

	font-size: 16px;
	font-weight: 400;
	/* Use Google Fonts but fallback to system font using this clever line
	   that targets the standard fonts of most popular operating systems */
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

strong {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
label {
	font-family: 'Patua One', -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 400;
}

a,
a:link,
a:visited {

	display: inline-block;
	color: #2980b9;
	text-decoration: none !important;
}

a:hover,
a:focus {
	color: #3498db;
	text-decoration: none !important;
}



/* Use an ::after pseudo-element for link underlining to avoid having thick lines under large/bold text
   This can possibly be used later on for a simple hover effect/transition */
a::after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	margin: auto;
	margin-top: -4px;
	background: white;
}

/* Adjust the underline spacing slightly for larger text */

h1 a:hover::after,
h1 a:focus::after {
	margin-top: -6px;
}

h2 a:hover::after,
h2 a:focus::after {
	margin-top: -5px;
}


/* Structural */
main {
	/* For browsers that don't know <main> element (e.g. IE11)
	   This renders it as a block element so it doesn't screw up styling */
	display: block;
	width: 80vw;
	max-width: 1100px;
	margin: auto;
	padding: 0 10px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

#banner {
	padding: 10vw;
	text-align: center;
}


/* Contributor elements */
#contributors-container {
	display: none;

	width: 80%;
	max-width: 1000px;

	margin: auto;
	padding: 10px;

	text-align: center;
}

#contributors {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

	font-size: 0.8em;
	color: #999;
}

#contributors.error {
	font-style: italic;
}

#contributors > a {
	display: inline-block;
	margin: 2px 0;
}

/* Hide the link underline */
#contributors > a::after {
	display: none;
}

#contributors img {
	height: 42px;
	width: 42px;
	margin-right: 10px;
	border-radius: 50%;
	transition: all 80ms ease-in-out;
}

#contributors a:hover img, #contributors a:focus img {
	transform: scale(1.1);
}



/*Floating nav bar*/
nav {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	height: 54px;

	margin: 0;
	padding: 0;

	color: white;
	background-color: #333;
}

nav a:link,
nav a:visited {

	display: block;
	padding: 0 18px;

	height: 54px;
	line-height: 54px;

	color: white;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	background-color: #111;
}

nav a::after {
	display: none;
}

nav a.logo svg {
	width: 21px;
	height: 28px;
	margin-top: 13px;
}
nav a.logo path {
	fill: white;
}

nav .fill {
	flex-grow: 1;
}

nav .fa-lg {
    font-size: 1.7em;
}


/* PR listings */
#pr-container {
	display: none;
	text-align: center;
}

#pr-container h4 {
	margin-bottom: 0
}

#pr-container p {
	margin: 5px;
	font-size: 0.9em;
}



/* Floating footer */
footer {
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	width: 100%;
	height: 48px;

	margin: 0px;
	padding: 0 4px;

	background-color: #333;
	text-align: right;
}

/* Hide the links while the button script is loading */

footer a:link,
footer a:visited {
	color: #333;
}


#lastpr-container
{
	text-align: center;
}


footer a::after {
	display: none;
}

footer iframe {
	margin: 0 6px;
}

@media screen and (max-width: 480px) {
    #banner h1 {
	    padding-top: 30px;
	    padding-bottom: 15px;
    }

    footer {
	    display: none;
	}
}

/* Min-width break to add more padding on wider screens */
@media all and (min-width: 720px) {
	main {
		padding: 50px;
	}

	#pr-container {
		padding-top: 80px;
		margin-bottom: -100px;
	}
}

pr-badge a,
pr-badge a:visited,
pr-badge a:hover,
pr-badge a:active
pr-badge a:hover::after,
pr-badge a:focus::after  {
    text-decoration: none;
}

/*gitter*/

.gitter-hidden {
	box-sizing: border-box;
	display: none
}

.gitter-icon {
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	fill: currentColor
}

.gitter-chat-embed {
	box-sizing: border-box;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 60%;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #fff;
	border-left: 1px solid #333;
	box-shadow: -12px 0 18px 0 rgba(50, 50, 50, .3);
	-webkit-transition: -webkit-transform .3s cubic-bezier(.16, .22, .22, 1.7);
	transition: -webkit-transform .3s cubic-bezier(.16, .22, .22, 1.7);
	transition: transform .3s cubic-bezier(.16, .22, .22, 1.7);
	transition: transform .3s cubic-bezier(.16, .22, .22, 1.7), -webkit-transform .3s cubic-bezier(.16, .22, .22, 1.7)
}

@context border-box {
	.gitter-chat-embed {
		box-sizing: border-box;
		background-color: #fff
	}
}

.gitter-chat-embed.is-collapsed:not(.is-loading) {
	box-sizing: border-box;
	-webkit-transform: translateX(110%);
	transform: translateX(110%)
}

.gitter-chat-embed:after {
	box-sizing: border-box;
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
	right: -100%;
	background-color: #fff
}

@context border-box {
	.gitter-chat-embed:after {
		box-sizing: border-box;
		background-color: #fff
	}
}

@media(max-width:1150px) {
	.gitter-chat-embed {
		box-sizing: border-box;
		left: 45%
	}
}

@media(max-width:944px) {
	.gitter-chat-embed {
		box-sizing: border-box;
		left: 30%
	}
}

@media(max-width:600px) {
	.gitter-chat-embed {
		box-sizing: border-box;
		left: 15%
	}
}

@media(max-width:500px) {
	.gitter-chat-embed {
		box-sizing: border-box;
		left: 0;
		border-left: none
	}
}

.gitter-chat-embed>iframe {
	box-sizing: border-box;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	height: 100%;
	border: 0
}

.gitter-chat-embed-loading-wrapper {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center
}

.is-loading .gitter-chat-embed-loading-wrapper {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.gitter-chat-embed-loading-indicator {
	box-sizing: border-box;
	opacity: .75;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIGZpbGw9IiMzYTMxMzMiPjxwYXRoIGQ9Ik01MjYgMTM5NHEwIDUzLTM3LjUgOTAuNXQtOTAuNSAzNy41cS01MiAwLTkwLTM4dC0zOC05MHEwLTUzIDM3LjUtOTAuNXQ5MC41LTM3LjUgOTAuNSAzNy41IDM3LjUgOTAuNXptNDk4IDIwNnEwIDUzLTM3LjUgOTAuNXQtOTAuNSAzNy41LTkwLjUtMzcuNS0zNy41LTkwLjUgMzcuNS05MC41IDkwLjUtMzcuNSA5MC41IDM3LjUgMzcuNSA5MC41em0tNzA0LTcwNHEwIDUzLTM3LjUgOTAuNXQtOTAuNSAzNy41LTkwLjUtMzcuNS0zNy41LTkwLjUgMzcuNS05MC41IDkwLjUtMzcuNSA5MC41IDM3LjUgMzcuNSA5MC41em0xMjAyIDQ5OHEwIDUyLTM4IDkwdC05MCAzOHEtNTMgMC05MC41LTM3LjV0LTM3LjUtOTAuNSAzNy41LTkwLjUgOTAuNS0zNy41IDkwLjUgMzcuNSAzNy41IDkwLjV6bS05NjQtOTk2cTAgNjYtNDcgMTEzdC0xMTMgNDctMTEzLTQ3LTQ3LTExMyA0Ny0xMTMgMTEzLTQ3IDExMyA0NyA0NyAxMTN6bTExNzAgNDk4cTAgNTMtMzcuNSA5MC41dC05MC41IDM3LjUtOTAuNS0zNy41LTM3LjUtOTAuNSAzNy41LTkwLjUgOTAuNS0zNy41IDkwLjUgMzcuNSAzNy41IDkwLjV6bS02NDAtNzA0cTAgODAtNTYgMTM2dC0xMzYgNTYtMTM2LTU2LTU2LTEzNiA1Ni0xMzYgMTM2LTU2IDEzNiA1NiA1NiAxMzZ6bTUzMCAyMDZxMCA5My02NiAxNTguNXQtMTU4IDY1LjVxLTkzIDAtMTU4LjUtNjUuNXQtNjUuNS0xNTguNXEwLTkyIDY1LjUtMTU4dDE1OC41LTY2cTkyIDAgMTU4IDY2dDY2IDE1OHoiLz48L3N2Zz4=);
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear
}

@-webkit-keyframes spin {
	0% {
		box-sizing: border-box;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		box-sizing: border-box;
		-webkit-transform: rotate(359.9deg);
		transform: rotate(359.9deg)
	}
}

@keyframes spin {
	0% {
		box-sizing: border-box;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		box-sizing: border-box;
		-webkit-transform: rotate(359.9deg);
		transform: rotate(359.9deg)
	}
}

.gitter-chat-embed-action-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-bottom: .7em;
	background: -webkit-linear-gradient(top, #fff, #fff 50%, hsla(0, 0%, 100%, 0));
	background: linear-gradient(180deg, #fff 0, #fff 50%, hsla(0, 0%, 100%, 0))
}

.gitter-chat-embed-action-bar,
.gitter-chat-embed-action-bar-item {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.gitter-chat-embed-action-bar-item {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding-left: 0;
	padding-right: 0;
	opacity: .65;
	background: none;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	border: 0;
	outline: none;
	cursor: pointer;
	cursor: hand;
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

.gitter-chat-embed-action-bar-item:focus,
.gitter-chat-embed-action-bar-item:hover {
	box-sizing: border-box;
	opacity: 1
}

.gitter-chat-embed-action-bar-item:active {
	box-sizing: border-box;
	-webkit-filter: hue-rotate(80deg) saturate(150);
	filter: hue-rotate(80deg) saturate(150)
}

.gitter-chat-embed-action-bar-item-pop-out {
	box-sizing: border-box;
	margin-right: -4px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDAgMTcxLjQyOSIgZmlsbD0iIzNhMzEzMyI+PHBhdGggZD0iTTE1Ny4xNDMsMTAzLjU3MXYzNS43MTRjMCw4Ljg1NC0zLjE0NCwxNi40MjYtOS40MzEsMjIuNzEzcy0xMy44NTgsOS40MzEtMjIuNzEyLDkuNDMxSDMyLjE0MyBjLTguODU0LDAtMTYuNDI1LTMuMTQ0LTIyLjcxMi05LjQzMVMwLDE0OC4xNCwwLDEzOS4yODVWNDYuNDI5YzAtOC44NTQsMy4xNDQtMTYuNDI1LDkuNDMxLTIyLjcxMiBjNi4yODctNi4yODcsMTMuODU4LTkuNDMxLDIyLjcxMi05LjQzMWg3OC41NzJjMS4wNDEsMCwxLjg5NiwwLjMzNSwyLjU2NiwxLjAwNGMwLjY3LDAuNjcsMS4wMDQsMS41MjUsMS4wMDQsMi41NjdWMjUgYzAsMS4wNDItMC4zMzQsMS44OTctMS4wMDQsMi41NjdjLTAuNjcsMC42Ny0xLjUyNSwxLjAwNC0yLjU2NiwxLjAwNEgzMi4xNDNjLTQuOTExLDAtOS4xMTUsMS43NDktMTIuNjEyLDUuMjQ2IHMtNS4yNDYsNy43MDEtNS4yNDYsMTIuNjEydjkyLjg1NmMwLDQuOTExLDEuNzQ5LDkuMTE1LDUuMjQ2LDEyLjYxMnM3LjcwMSw1LjI0NSwxMi42MTIsNS4yNDVIMTI1YzQuOTEsMCw5LjExNS0xLjc0OCwxMi42MTEtNS4yNDUgYzMuNDk3LTMuNDk3LDUuMjQ2LTcuNzAxLDUuMjQ2LTEyLjYxMnYtMzUuNzE0YzAtMS4wNDIsMC4zMzQtMS44OTcsMS4wMDQtMi41NjdjMC42Ny0wLjY2OSwxLjUyNS0xLjAwNCwyLjU2Ny0xLjAwNGg3LjE0MyBjMS4wNDIsMCwxLjg5NywwLjMzNSwyLjU2NywxLjAwNEMxNTYuODA5LDEwMS42NzQsMTU3LjE0MywxMDIuNTI5LDE1Ny4xNDMsMTAzLjU3MXogTTIwMCw3LjE0M3Y1Ny4xNDMgYzAsMS45MzUtMC43MDcsMy42MDktMi4xMjEsNS4wMjJjLTEuNDEzLDEuNDE0LTMuMDg4LDIuMTIxLTUuMDIxLDIuMTIxYy0xLjkzNSwwLTMuNjA5LTAuNzA3LTUuMDIyLTIuMTIxbC0xOS42NDQtMTkuNjQzIGwtNzIuNzY3LDcyLjc2OWMtMC43NDQsMC43NDQtMS42LDEuMTE1LTIuNTY3LDEuMTE1cy0xLjgyMy0wLjM3MS0yLjU2Ny0xLjExNUw3Ny41NjcsMTA5LjcxYy0wLjc0NC0wLjc0NC0xLjExNi0xLjYtMS4xMTYtMi41NjcgYzAtMC45NjcsMC4zNzItMS44MjIsMS4xMTYtMi41NjZsNzIuNzY4LTcyLjc2OGwtMTkuNjQ0LTE5LjY0M2MtMS40MTMtMS40MTQtMi4xMi0zLjA4OC0yLjEyLTUuMDIyYzAtMS45MzUsMC43MDctMy42MDksMi4xMi01LjAyMiBDMTMyLjEwNSwwLjcwNywxMzMuNzc5LDAsMTM1LjcxNSwwaDU3LjE0M2MxLjkzNCwwLDMuNjA4LDAuNzA3LDUuMDIxLDIuMTIxQzE5OS4yOTMsMy41MzQsMjAwLDUuMjA4LDIwMCw3LjE0M3oiLz48L3N2Zz4=)
}

.gitter-chat-embed-action-bar-item-collapse-chat {
	box-sizing: border-box;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzEuNDI5IDE3MS40MjkiIGZpbGw9IiMzYTMxMzMiPjxwYXRoIGQ9Ik0xMjIuNDMzLDEwNi4xMzhsLTE2LjI5NSwxNi4yOTVjLTAuNzQ0LDAuNzQ0LTEuNiwxLjExNi0yLjU2NiwxLjExNmMtMC45NjgsMC0xLjgyMy0wLjM3Mi0yLjU2Ny0xLjExNmwtMTUuMjktMTUuMjkgbC0xNS4yOSwxNS4yOWMtMC43NDQsMC43NDQtMS42LDEuMTE2LTIuNTY3LDEuMTE2cy0xLjgyMy0wLjM3Mi0yLjU2Ny0xLjExNmwtMTYuMjk0LTE2LjI5NWMtMC43NDQtMC43NDQtMS4xMTYtMS42LTEuMTE2LTIuNTY2IGMwLTAuOTY4LDAuMzcyLTEuODIzLDEuMTE2LTIuNTY3bDE1LjI5LTE1LjI5bC0xNS4yOS0xNS4yOWMtMC43NDQtMC43NDQtMS4xMTYtMS42LTEuMTE2LTIuNTY3czAuMzcyLTEuODIzLDEuMTE2LTIuNTY3IEw2NS4yOSw0OC45OTZjMC43NDQtMC43NDQsMS42LTEuMTE2LDIuNTY3LTEuMTE2czEuODIzLDAuMzcyLDIuNTY3LDEuMTE2bDE1LjI5LDE1LjI5bDE1LjI5LTE1LjI5IGMwLjc0NC0wLjc0NCwxLjYtMS4xMTYsMi41NjctMS4xMTZjMC45NjcsMCwxLjgyMiwwLjM3MiwyLjU2NiwxLjExNmwxNi4yOTUsMTYuMjk0YzAuNzQ0LDAuNzQ0LDEuMTE2LDEuNiwxLjExNiwyLjU2NyBzLTAuMzcyLDEuODIzLTEuMTE2LDIuNTY3bC0xNS4yOSwxNS4yOWwxNS4yOSwxNS4yOWMwLjc0NCwwLjc0NCwxLjExNiwxLjYsMS4xMTYsMi41NjcgQzEyMy41NDksMTA0LjUzOSwxMjMuMTc3LDEwNS4zOTQsMTIyLjQzMywxMDYuMTM4eiBNMTQ2LjQyOSw4NS43MTRjMC0xMS4wMTItMi43MTctMjEuMTY4LTguMTQ4LTMwLjQ2OSBzLTEyLjc5Ny0xNi42NjctMjIuMDk4LTIyLjA5OFM5Ni43MjYsMjUsODUuNzE0LDI1cy0yMS4xNjgsMi43MTYtMzAuNDY5LDguMTQ3UzM4LjU3OSw0NS45NDUsMzMuMTQ3LDU1LjI0NlMyNSw3NC43MDMsMjUsODUuNzE0IHMyLjcxNiwyMS4xNjgsOC4xNDcsMzAuNDY5czEyLjc5NywxNi42NjYsMjIuMDk4LDIyLjA5OHMxOS40NTcsOC4xNDgsMzAuNDY5LDguMTQ4czIxLjE2OC0yLjcxNywzMC40NjktOC4xNDggczE2LjY2Ni0xMi43OTcsMjIuMDk4LTIyLjA5OFMxNDYuNDI5LDk2LjcyNiwxNDYuNDI5LDg1LjcxNHogTTE3MS40MjksODUuNzE0YzAsMTUuNTUxLTMuODMyLDI5Ljg5My0xMS40OTYsNDMuMDI0IGMtNy42NjQsMTMuMTMzLTE4LjA2MiwyMy41My0zMS4xOTQsMzEuMTk0Yy0xMy4xMzIsNy42NjQtMjcuNDc0LDExLjQ5Ni00My4wMjQsMTEuNDk2cy0yOS44OTItMy44MzItNDMuMDI0LTExLjQ5NiBjLTEzLjEzMy03LjY2NC0yMy41MzEtMTguMDYyLTMxLjE5NC0zMS4xOTRDMy44MzIsMTE1LjYwNywwLDEwMS4yNjUsMCw4NS43MTRTMy44MzIsNTUuODIyLDExLjQ5Niw0Mi42OSBjNy42NjQtMTMuMTMzLDE4LjA2Mi0yMy41MzEsMzEuMTk0LTMxLjE5NEM1NS44MjIsMy44MzIsNzAuMTY0LDAsODUuNzE0LDBzMjkuODkzLDMuODMyLDQzLjAyNCwxMS40OTYgYzEzLjEzMyw3LjY2NCwyMy41MywxOC4wNjIsMzEuMTk0LDMxLjE5NEMxNjcuNTk3LDU1LjgyMiwxNzEuNDI5LDcwLjE2NCwxNzEuNDI5LDg1LjcxNHoiLz48L3N2Zz4=)
}

.gitter-open-chat-button {
	color: #fff;
	z-index: 100;
	position: fixed;
	bottom: 0;
	right: 10px;
	padding: 1em 3em;
	/*background-color: #36bc98;*/
	background-color: #111;
	border: 0;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	font-family: sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}


.gitter-open-chat-button,
.gitter-open-chat-button:visited {
	box-sizing: border-box;
	color: #fff
}

.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover {
	box-sizing: border-box;
	background-color: #3ea07f;
	color: #fff
}

.gitter-open-chat-button:focus {
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(62, 160, 127, .6);
	outline: none
}

.gitter-open-chat-button:active {
	box-sizing: border-box;
	color: #eee
}

.gitter-open-chat-button.is-collapsed {
	box-sizing: border-box;
	-webkit-transform: translateY(120%);
	transform: translateY(120%)
}
